extends base

block content
  main
    if user
      .profile.mt-5.ml-5.pt-5
        .profile-container
          h2 My account
          h4 Profile
          .profile-form
            form.user-info-form(style="padding-right: 40px")
              table.user-info
                tr
                  td.info-title Name
                  td.info-container
                    input.name(style="width: 100%", type="text", value=`${user.name}`)
                tr
                  td.info-title Email
                  td.info-container
                    span= `${user.email}`
                    button.btn.info-edit-btn.btn-primary.btn-sm(type="button")
                      | Edit
                tr
                  td.info-title Phone number
                  td.info-container
                    span= `${user.phone_number}`
                    button.btn.info-edit-btn.btn-primary.btn-sm(type="button")
                      | Edit
                tr
                  td.info-title Address
                  td.info-container
                    span= `${user.address}`
                    button.btn.info-edit-btn.btn-primary.btn-sm(type="button")
                      | Edit
                tr
                  td.info-title Gender
                  td.info-container
                    label(style="margin-bottom: 0px")
                      input(type="radio", name="gender", value="male", checked=user.gender === "male")
                      |
                      | Male
                    label(style="margin-bottom: 0px; padding-left: 15px")
                      input(type="radio", name="gender", value="female", checked=user.gender === "female")
                      |
                      | Female
                    label(style="margin-bottom: 0px; padding-left: 15px")
                      input(type="radio", name="gender", value="other", checked=user.gender === "other")
                      |
                      | Other
                tr
                  td
                    a.btn.btn-warning.custom-cart-btn(style="margin-left: 20px", href="#") Save
            .avatar-container(style="width: 20%")
              img.user-photo(src="https://cdn.jsdelivr.net/gh/alohe/memojis/png/notion_8.png", alt="User photo")
              input#photo(style="display: none", type="file", accept="image/*", name="photo")
              label.choose-photo(for="photo")
                | Choose new photo
