extends base

block content
  main
    .carts
      h1.mt-5.ml-5.pt-5 My Cart
      .carts-container
        //- Cart Titles
        .title-container
          .item-titles
            .title-group-1
              .title-name Product
            .title-group-2
              .title-price Price
              .title-quantity Quantity
              .title-total Total
              .title-delete delete
        //- Cart Items
        .item-info
          each item in cart.items
            .item(data-product-id=`${item.product}`)
              .item-group-1
                .checkbox-container
                  .checkbox
                    input.item-checkbox(type="checkbox", tabindex="0", role="checkbox")
                .img-container
                  img.prod-img(src=`${item.image}`, alt="Product Image")
                .item-name= item.product_name
              .item-group-2
                .item-price= item.price.toFixed(2)
                .item-quantity
                  i.decrease-btn.fa-solid.fa-minus
                  input.qt-input(type="text", value=`${item.quantity || 1}`)
                  i.increase-btn.fa-solid.fa-plus
                // 初始顯示為 item.price
                .item-total= item.total || item.price.toFixed(2)
                .btn.item-delete delete

      section.checkout-summary.fixed-bottom
        .cart-overview
          .checkout-titles
            .checkbox-container
              .checkbox
                input.all-checkbox(type="checkbox", tabindex="0", role="checkbox")
            .item-selected Select all
            .selected-statement
              .selected-item Total price (0 item) :
              .price-total $0
            .checkout
              a.checkout-btn.btn.btn-warning.custom-cart-btn(href="#") Checkout
