extends base

block content
  main
    .login-container(style="text-align: center")
      h1(style="padding: 40px 0") Login
      form.login-form
        input#email(type="email", name="email", placeholder="Email", autocomplete="username", required)
        input#password(
          type="password",
          name="password",
          placeholder="••••••••",
          minlength="8",
          autocomplete="current-password",
          required
        )
        button.login-btn.btn.btn-warning(type="submit") Login
      span(style="width: 15%")
        a.forget-password-btn.btn.btn-outline-info(style="width: 100%", href="/two-factor") Forget password?
