extends base

block content
  main
    .main-content
      //- Title-container
      .main-container.text-center.py-5
        h1 Welcome to PowMart!
        p An e-commence website with no much goods!

      form.search-bar-form.d-flex.justify-content-center(style="margin-top: 20px", role="search")
        input.form-input.mr-sm-2(
          style="margin-right: 10px; width: 500px",
          type="search",
          name="search-bar",
          placeholder="Search",
          aria-label="Search"
        )
        button.btn.btn-warning(type="submit", action="submit") Search
      //- Product-container
      .container.mt-4
        .card-container.row(style="display: flex")
          if products.length
            each product in products
              .card-box.col-12.col-sm-6.col-md-4.col-lg-3.mb-4
                a.card(href=`/product/${product._id}`, style="text-decoration: none")
                  .card-img-container
                    img.card-img-top.img-fluid(
                      src=`${product.image || '/images/default-product.jpg'}`,
                      alt="Product Image"
                    )
                  .card-body
                    h5
                      span.card-title= product.product_name
                    .card-overview.rating.mb-2(style="margin: 0 auto")
                      span.overview-rating= `(${product.ratings_average}/5)`
                      span.overview-rating-star
                        //- span.fa-regular.fa-star
                        //- span.fa-regular.fa-star
                        //- span.fa-regular.fa-star
                        //- span.fa-regular.fa-star
                        //- span.fa-regular.fa-star
          else
            .card-box.col-12.text-center(style="display: flex; justify-content: center; width: 100%")
              h1 No related products found!
