extends base

block content
  main
    .main-content
      //- Title-container
      .main-container.text-center.py-5
        h1 Welcome to PowMart!
        p An e-commence website with no much goods!

      form.search-bar-form.d-flex.justify-content-center(style="margin-top: 20px", role="search")
        input.form-input.mr-sm-2(
          style="margin-right: 10px; width: 500px",
          type="search",
          name="search-bar",
          placeholder="Search",
          aria-label="Search"
        )
        button.btn.btn-warning(type="submit", action="submit") Search
          //- a(href=`/search/${searchQuery}`)
      //- Product-container
      .container.mt-4
        .card-container.row(style="display: flex")
          each product in products
            .card-box.col-12.col-sm-6.col-md-4.col-lg-3.mb-4
              a.card(href=`/product/${product._id}`)
                .card-img-container
                  img.card-img-top.img-fluid(src=`${product.image}`, alt="Product Image")
                .card-body
                  h5
                    span.card-title= product.product_name
                  .product-rating.mb-2
                    span.rating-value 4.5
                    span.stars &starf;&starf;&starf;&starf;&star;
