extends base

block content
  main
    if product
      .product.mt-5.pt-5
        .product-container
          //- Product-image
          img.card-img-top.image-block(src=`${product.image}`, alt="Product Image")
          .product-details.mt-2
            h1(style="margin-bottom: 1rem")= `${product.product_name}`
            p(style="margin-bottom: 1rem")= `${product.category}`
            // Price
            h4.price(style="margin-bottom: 1rem")= `Price: $${product.price}`
            // Product-description
            // Rating
            .rating(style="margin-bottom: 1rem; display: flex; align-items: baseline")
              p.mt-2.mb-2 Rating: &starf;&starf;&starf;&starf;&star;
              p= `(${product.ratings_average}/5)`
            // Purchase/Add to cart
            .prod-action(style="margin-bottom: 1rem")
              button.add-to-cart-btn.btn.btn-warning.custom-cart-btn Add to cart

        //- Product-description
        .prod-description
          h3 Description:
          span= `${product.description}`

        //- User-reviews
        .prod-reviews
          h2 Reviews
          .review-container
            .reviews
              each review in reviews
                .user-reviews.m-3
                  .review
                    .review-content
                      .user-info(style="display: flex")
                        img(
                          style="width: 60px; height: 60px; border-radius: 90px",
                          src=`${review.user.image}`,
                          alt="User-photo"
                        )
                        .ml-3(style="display: flex; flex-direction: column; margin-left: 20px")
                          h4.user-name= `${review.user.name}`
                          .rating(style="display: flex; align-items: baseline")
                            p.user-rating Rating:
                            .review-rating-star
                              // render stars placeholder

                            p.rating-in-review= `(${review.rating}/5)`
                      p.user-review= `${review.review}`
                      .toggle-block
                        button.toggle-button.btn
                          | (Expand review)
            .leave-review.m-3
              // Leave a review
              .review-container
                textarea#review-textarea(placeholder="Leave a review")
                .submit-section
                  // Ratings Stars
                  span Your Rating:
                  .star-rating
                    // render stars placeholder 

                  span.rating-value(style="margin-left: 10px; width: 68px; text-align: center") (0 / 5)
                  input#rating(type="hidden", name="rating", value="0")
                  button#review-submit.btn.btn-warning(style="margin-left: 10px", type="submit")
                    | Submit
